/* Yleisasetukset */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.container {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 500px;
  width: 90%;
  text-align: center;
  animation: fadeIn 0.8s ease;
}

.hidden {
  display: none;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 5px;
  transition: background-color 0.3s, transform 0.2s;
}

button.primary-btn {
  background-color: #4caf50;
  color: white;
  box-shadow: 0 4px 10px rgba(76, 175, 80, 0.4);
}

button.primary-btn:hover {
  background-color: #45a049;
  transform: translateY(-3px);
}

button.secondary-btn {
  background-color: #2196f3;
  color: white;
  box-shadow: 0 4px 10px rgba(33, 150, 243, 0.4);
}

button.secondary-btn:hover {
  background-color: #1e88e5;
  transform: translateY(-3px);
}

button#deleteAllSalesBtn {
  background-color: #f44336;
  color: white;
  box-shadow: 0 4px 10px rgba(244, 67, 54, 0.4);
}

button#deleteAllSalesBtn:hover {
  background-color: #e53935;
  transform: translateY(-3px);
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
}

input[type="text"]:focus,
input[type="number"]:focus {
  box-shadow: 0 4px 10px rgba(33, 150, 243, 0.4);
  outline: none;
}

.sales-list {
  text-align: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sales-list li {
  background-color: #f1f1f1;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sales-list li:hover {
  background-color: #e3f2fd;
  transform: scale(1.02);
  transition: background-color 0.3s, transform 0.2s;
}

input[list] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#filters {
  margin: 20px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.sale-item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.sale-item button {
  margin-right: 10px;
}

input[list]:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Animaatiot */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
